.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    background-color: black;
}
.container{
    width: 95%;
    height: 700px;
    display: flex;
    justify-content: space-around;
}
.title{
    width: 90%;
    font-size: 50px;
    padding-bottom: 20px;
    font-weight: 300;
}
.subtitle{
    width: 90%;
    font-size: 30px;
    font-weight: 200;
}
.textBlock {
    width: 95%;
    padding: 20px 0;
    transform: translateX(2%) translateY(-20%);
    gap: 20px;
    
}
.first{
    width: 46%;
    height: 600px;
}
.second{
    width: 46%;
     height: 600px;
}
@media (max-width: 768px) {
    .main{
        gap: 40px;
    }
  .title {
    font-size: 26px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 16px;
  }

  .subtitle {
    font-size: 16px;
    width: 100%;
    padding-left: 16px;
    transform: none;
    margin-bottom: 20px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 50px;
    padding: 0 16px;
  }

  .first, .second {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1280px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }

  .textBlock {
    transform: none;
    padding: 20px 0;
  }

  .container {
    height: auto;
    gap: 16px;
    margin-bottom: 16px;
  }

  .first, .second {
    height: auto;
  }
}
@media (max-width: 1440px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }

  .textBlock {
    transform: none;
    padding: 20px 0;
  }

  .container {
    height: auto;
    gap: 16px;
    margin-bottom: 16px;
  }

  .first, .second {
    height: auto;
  }
}
@media (max-width: 1800px) {
  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 18px;
  }

  .textBlock {
    transform: none;
    padding: 20px 0;
  }

  .container {
    height: auto;
    gap: 16px;
    margin-bottom: 16px;
  }

  .first, .second {
    height: auto;
  }
}